<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup-Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div class = "container">
        <form action="/login" method="POST">
        <h2>Welcome Login-Page</h2>
        <label for="name">Name</label>
        <input  name="name"id="name" type="text"  placeholder="Enter your name" required style="color: brown;">

        <label for="password">Password</label>
        <input name="password" id="password" type="password" placeholder="Enter your password" required>
        
        <div class="button-container">
            <button type="submit">Submit</button>
        </div> 
        </form>
        <p>Already registered an account? <a href="/signup">Login here</a></p>

    </div>

    
</body>
</html>